<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- HEADER -->
    <header>
        <div class="logo">
            <img src="img/download.png" alt="Logo">
        </div>
    </header>

    <!-- MAIN -->
    <main id="root">

        <div class="filter-input">
            <select v-model="select" name="filter" id="filter">
                <option value="all">All</option>
                <option v-for="genre in genres" :value="genre">{{ genre }}</option>
            </select>
        </div>
        
        <div class="cards flex">
           
            <!-- Card Sample -->
        <div v-for="cd in music" v-if="(cd.genre == select) || (select == 'all')" class="card">
            <div class="inner-box">
                <div class="cd-img">
                    <img :src="cd.poster">
                </div>
                <div class="cd-title uppercase">
                    <h4>{{ cd.title }}</h4>
                </div>
                <div artist-date>
                    <div class="artist">{{ cd.author }}</div>
                    <div class="date">{{ cd.year }}</div>
                </div>
            </div>
        </div>
        </div>
    </main> 

    <!-- JavaScript -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>